- if @this[:content].kind_of?(Array)
  - @this[:content].each do |essence|
    - if essence.kind_of?(Hash) && essence[:elem]
      = e essence[:elem], essence

    - elsif essence.kind_of?(Hash) && essence[:block]
      = b essence[:block], essence

    - else
      = essence
- else
  = @this[:content]
