- if @content.kind_of?(Array)
	- @content.each do |essence|
		- if essence.kind_of?(Hash) && essence[:elem]
			= e essence[:elem], { content: essence[:content], mods: essence[:elemMods] }
		- else
			= essence
- else
	= @content